@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

:is(body) {
    background-color: #DDFFBB;
    display: grid;
}
body {
    grid-template-rows: auto minmax(100%, 100dvh) 
    auto;
    font-family: "Playfair Display", serif;
}

.logo img {
    width: 75px;
}

#navnav{
    background-color: #A0C49D;
}
.navbar {
    display: flex;
}

.navbar a {
    text-decoration: none;
    color: #333; 
    margin-right: 20px; 
    font-weight: bolder;
}

.navbar a:hover {
    color: #26355D; 
    text-decoration: underline;
    transform: scale(1.1);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

:is(h2, h4, footer p){
    text-align: center;
}
img {
    aspect-ratio: 1;
    object-fit: cover;
    object-position: center;
}

.aboutinfo {
    display: flex;
    align-items: center;
    margin-top: 10px;
    justify-content: space-between;
}

.aboutimg {
    width: 400px; 
    height: auto;
    margin-right: 20px; 
    transition: transform 0.3s ease; 
}

.aboutpar {
    flex:1 ; 
}

.aboutpar p {
    font-size: 18px; 
    line-height: 1.6; 
    transition: color 0.3s ease; 
}

/* Hover effect for image */
.aboutimg:hover {
    transform: scale(1.05); 
}

/* Hover effect for paragraphs */
.aboutpar p:hover {
    color: darkblue; 
}

/* Map styles */
.map {
    width: 80%;
    height: 300px;
    margin: 0 auto 30px;
}

/* Form styles */
.form {
    max-width: 600px;
    margin: 0 auto;
    background-color: #fff;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

/* Input styles */
.form-control {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* Textarea styles */
textarea.form-control {
    resize: none;
}

/* Button styles */
.btn {
    display: inline-block;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    background-color: #333;
    color: #fff;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #555;
}

/* Contact details styles */
.deats {
    margin-top: 20px;
}

.deats a, .deats text {
    display: block;
    margin-bottom: 10px;
    color: #333;
}

/* Font Awesome icon styles */
.fa {
    margin-right: 5px;
}

.icons a {
    padding: 0;
    font-size: 20px;
    color: rgb(53, 93, 216);
}
